#thumbs {
    
}

.thumb {
    display: inline-block;
    word-wrap: break-word;
    margin: 5px;
    max-height: 300px;
    max-width: 300px;
    padding: 5px;
}

img {
    max-height: 300px;
    max-width: 300px;
}

#top {
    height: 50px;
    margin: 0 0 25px 0;
}

#relation {
    border: #1e1e1e 2px outset;
}

.block {
    background-color: #303030;
    box-shadow: 0px 6px 6px 0px black;
    padding: 5px;
}